* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: #d9dcd6;
}

header {
    padding: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: red;
    color: #ffffff;
}

header h1 {
    float: left;
}

header ul {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
    position: relative;
}

.bio-pic {

}

header section {
    align-items: right;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.project-card {
    display: grid, flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    font-size: larger;
    border: black;
    border-style: double;
    border-radius: 50px;
}

#project-card1 {
    text-align: center;
    border: black;
    border-style: double;
    border-radius: 50px;
    grid-column: 1;
    grid-row: 1;
  }
.project-card2 {
    text-align: center;
    border: black;
    border-style: double;
    border-radius: 50px;
    grid-column: 2;
    grid-row: 1;
  }
.project-card3 {
    text-align: center;
    border: black;
    border-style: double;
    border-radius: 50px;
    grid-column: 3;
    grid-row:  1;
  }
.project-card4 {
    text-align: center;
    border: black;
    border-style: double;
    border-radius: 50px;
    grid-column: 1;
    grid-row: 2;
  }
.project-card5 {
    text-align: center;
    border: black;
    border-style: double;
    border-radius: 50px;
    grid-column: 2;
    grid-row: 2;
  }
.project-card6 {
    text-align: center;
    border: black;
    border-style: double;
    border-radius: 50px;
    grid-column: 3;
    grid-row: 2;
  }

  .project-card7 {
    text-align: center;
    border: black;
    border-style: double;
    border-radius: 50px;
    grid-column: 1;
    grid-row: 3;
  }
  .project-card8 {
    text-align: center;
    border: black;
    border-style: double;
    border-radius: 50px;
    grid-column: 2;
    grid-row: 3;
  }
